<ActionBar android:title="Calcular: {{calculo.name}}">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<ScrollView class="page page-content">
    <StackLayout *ngIf="calculo" class="list-group">
        <GridLayout *ngFor="let input of calculo.inputs" rows="auto,auto"
            columns="2*,*" class="list-group-item">
            <Label row="0" col="0" class="list-group-item-heading" [text]="input.name"
                textWrap="true"></Label>
            <TextField [(ngModel)]="input.value" row="0" col="1" class="input input-border"></TextField>
        </GridLayout>
        <Button text="Calcular" marginTop="50" class="btn btn-primary btn-blue center"
            (tap)="goToCalcResult($event)"></Button>
    </StackLayout>
</ScrollView>